
.projects {
  border: 1px solid blue;
  font-family: "Yu Gothic UI Semibold", serif;
  min-height: 100vh;

  &__title {
    font-size: 30px;
    letter-spacing: 6px;
    border: 1px solid red;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    width: 70%;


    & span {
      position: relative;
      color: red;
    }

    & span::before {
      content: '';
      position: absolute;
      display: block;
      width: 200px;
      height: 3px;
      background-color: black;
      top: 50%;
      right: 113%;
    }

    & span::after {
      content: '';
      position: absolute;
      display: block;
      width: 200px;
      height: 3px;
      background-color: black;
      top: 50%;
      left: 110%;
    }
  }

  &__examples {
    display: flex;
    justify-content: space-evenly;
    border: green 5px solid;
    align-items: center;

    .example {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: red 5px solid;


      &__img {
        width: 100%;
        min-height: 300px;
        background-color: rgba(55, 254, 55, 0.51);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__button {
        background-color: red;
        width: 100px;
        height: 35px;
        border: 1px solid red ;
        border-bottom-left-radius: 18px;
        border-top-right-radius: 18px;
        opacity: 50%;
        box-shadow: 2px 2px 2px sandybrown;
        &:hover{
          opacity: 70%;
          box-shadow: 3px 3px 3px #607ef4;
        }
        &:active{
          box-shadow: none;
        }
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__title {
        font-size: 26px;
        padding: 20px 0;
      }

      &__text {
        color: red;
        font-size: 18px;
      }
    }
  }
}