
@media(max-width: 1200px) {
  .wrapper{
    max-width: 970px;
  }
}
@media(max-width: 992px) {
  .wrapper{
    max-width: 750px;
  }
}
@media(max-width: 767px) {
  .wrapper{
    max-width: none;
    min-width: 370px;

  }
}

.wrapper {
  min-height: 10vh;
  background-color: #222222;
  display: flex;
  justify-content: flex-end ;
  align-items: center;
  z-index: 5;
}
