
.work {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #ebbeff;


  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      font-family: "Cuprum";
      font-size: 28px;
      margin: 15px 0;
    }

    button {
      font-family: "Cuprum", cursive;
      width: 100%;
      height: 50px;
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 700;
      background-color: transparent;
      color: black;
      margin: 15px 0;
      border: 1px solid black;
      transition-duration: 500ms;

      &:hover {
        background-color: #3a3a3a;
        color: white;
        transition-duration: 500ms;
      }

      &:active {
        background-color: yellow;
        color: black;
      }
    }
  }
}

@media (max-width: 1200px) {
 .work{
   max-width: 970px;

   &__wrapper div {
    font-size: 26px;
  }
}
}
@media (max-width: 992px) {
  .work{
    max-width: 750px;

    &__wrapper div {
      font-size: 24px;
    }
  }
}
@media (max-width: 767px) {
  .work{
    max-width: none;

    &__wrapper div {
      font-size: 20px;
    }
  }
}
