.skills {
  background-color: #222222;
  min-height: 100vh;
  font-family: "Roboto", serif;
  h1{
    font-size: 60px;
  }
  &__title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 40px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    color: white;
  }

  &__achieve_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__achieve {
    color: white;

    width: 30%;
    border: 1px solid #4c4c4c;
    box-shadow: 0 0 6px #414141;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    transition-duration: 500ms;

    margin: 1%;

    &:hover {
      background: linear-gradient(90deg, rgba(245,72,22,0.5) 0%, rgba(229,135,48,0.5) 31%, rgba(255,165,0,0.5) 66%, rgba(227,247,0,0.5) 100%);
      transition-duration: 500ms;
      box-shadow: 0 0 6px 3px yellow;
      border: 1px solid yellow;
    }

    .item__img {
      //transform: rotate(45deg);
      //width: 50px;
      //height: 50px;
      //background-color: rgba(255, 0, 0, 0.48);
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 80px;
    }

    .item__title {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .item__text {
      font-size: 18px;
      padding: 10px;
    }
  }
}

@media(max-width: 1200px) {
  .skills {
    max-width: 970px;
    h1{
      font-size: 50px;
    }
    &__title {
      font-size: 35px;
    }
    &__achieve {
      margin: 1%;
      width: 30%;
    }

    .item__text {
      font-size: 16px;
    }

    .item__title {
      font-size: 24px;
      text-align: center;
    }
  }
}

@media(max-width: 992px) {
  .skills {
    max-width: 750px;
    h1{
      font-size: 40px;
    }
    &__title {
      font-size: 30px;
    }
    .item__img {
      width: 40px;
      height: 40px;
    }

    .item__text {
      font-size: 14px;
    }

    .item__title {
      font-size: 20px;
    }
  }
}

@media(max-width: 767px) {
  .skills {
    max-width: none;
    min-width: 370px;
h1{
  font-size: 30px;
}
    &__title {
      font-size: 25px;
    }
    &__achieve_wrap {
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &__achieve {
      width: 100%;
      padding-top: 10px;
      margin: 0 0 10px 0;

    }

  }
}