.ordinary {
  color: white;
  margin: 0 20px;
  font-size: 25px;
}

//.focused {
//  color: red;
//  font-size: 25px;
//}

a {
  color: yellow;
  margin: 0 20px;
  font-size: 25px;
  position: relative;
  transition-duration: 0.5s;
&::before{
  content: "";
  width: 0;
}
  &:hover {
    transition-duration: 0.5s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: white;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      bottom: -10px;
    }
  }
}