@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');



.styles {
  width: 100%;
  font-weight: 900;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
.yellow {
color: yellow;
}