@import "./StartStyleZero/zero";

.App {

  .container {
    width: 80%;
    margin: 0 auto;
  }

}

@media(max-width: 767px){
  .App {

    .container {
      width: 90%;
      margin: 0 auto;
    }

  }
}