@import "./StartStyleZero/zero";

body {
  background: url("https://img.freepik.com/premium-vector/landscape-mountains-pine-forests_633248-3.jpg?w=1380") no-repeat fixed;
  background-size: cover;
  position: absolute;
}